body {
    background-color: grey;
    text-shadow: pink 1px 1px 2px;
}

.jumbotron {
    background-color: white;
}

.btn-secondary {
    margin-bottom: 10px;
    
}

.rounded-circle {
    background-color:gray!important;
}

.card {
    margin: 10px;
}